body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #0C1633;
    color: white;
    display: flex;
    justify-content: space-evenly;
    justify-items: baseline;
}

.logo {
    margin-left: -150px;
    margin-top: 10px;
}

main {
    padding: 40px 120px 40px 120px;
}

.section-one {
    width: 100%;
    height: auto;
    display: flex;
}

.left-section {
    width: 50%;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
}

.dates {
    color: #98CA3F;
    font-size: 1em;
    font-weight: bold;
}

input {
    width: 250px;
    height: 20px;
    border-color: whitesmoke;
    box-shadow: none;
    border-width: 0.5px;
    outline: none;
    margin-right: 10px;
}

button {
    width: 80px;
    height: 25px;
    border-radius: 8px;
    color: white;
    background-color: #98CA3F;
    border : none;
    font-weight: bold;
    outline: none;
    cursor: pointer; 
}

.right-section {
    width: 50%;
    padding-left: 400px; 
}

.second-section {
    width: 80%;
}

h2 {
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 15px;
}

.card-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 0;
}

.card {
    width: 200px;
    height: 120px;
    background-color: #0C1633;
    color: white;
    padding: 2px 20px 10px 20px;
    border-radius: 10px;
}

h4 {
    font-size: 1.2em;
}

