/* Convencion de orden de trabajo
1. Posicionamiento
2. Modelo caja (Box Model)
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    --azul: #0C1633;
    --verde_platzi: #98CA3F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    background-color: var(--azul);
    color: white;
    display: flex;
    justify-content: space-evenly;
    justify-items: baseline;
}

.logo {
    margin-left: -150px;
    margin-top: 10px;
}

main {
    padding: 40px 120px 40px 120px;
}

.section-one {
    width: 100%;
    height: auto;
    display: flex;
}

.left-section {
    width: 50%;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
}

.dates {
    color: var(--verde_platzi);
    font-size: 1em;
    font-weight: bold;
}

input {
    width: 250px;
    height: 20px;
    border-color: whitesmoke;
    box-shadow: none;
    border-width: 0.5px;
    outline: none;
    margin-right: 10px;
}

button {
    width: 80px;
    height: 25px;
    border-radius: 8px;
    color: white;
    background-color: var(--verde_platzi);
    border : none;
    font-weight: bold;
    outline: none;
    cursor: pointer; 
}

.right-section {
    width: 50%;
    padding-left: 400px; 
}

.second-section {
    width: 80%;
}

h2 {
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 15px;
}

.card-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 0;
}

.card {
    width: 200px;
    height: 120px;
    background-color: var(--azul);
    color: white;
    padding: 2px 20px 10px 20px;
    border-radius: 10px;
}

h4 {
    font-size: 1.2em;
}

.course-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.card-courses {
    width: 300px;
    height: 140px;
    background-color: var(--azul);
    color: white;
    padding: 2px 20px 10px 20px;
    border-radius: 10px;
}

.course-title {
    font-size: 1.5em;
}

#green {
    background-color: var(--verde_platzi);
}

#blue {
    background-color: #17A2F8;
}

#pink {
    background-color: #ff8080;
}

footer {
    background-color: var(--azul);
    color: white;
    font-size: 0.8em;
}

.footer-logo {
    margin-left: 0.3rem;
    padding-top: 0.65rem;    
}

ul {
    list-style-type: none;
    padding-left: 1.2rem;
    padding-bottom: 1.2rem;
}

li {
    padding-left: 1.2rem;
}

.footer-text {
    padding-left: 2.5rem;
}

/* When the browser is at max 320px and less */
@media screen and (max-width: 320px) {
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav {
      height: 130px;
      flex-wrap: wrap;
      font-size: 0.9rem;
      /* border: 1px red dashed; */
    }

    .logo {
        width: 300px;
        height: 80px;
        display: flex;
        justify-content: center;
        margin: 10px 10px 5px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        /* border: 1px red dashed;  */
    }

    .logo img {
        align-self: center;
        width: 200px;
    }

    main {
        padding: 0;
    }

    main .section-one {
        flex-wrap: wrap;
        max-width: 320px;
        width: 100%;
        /* border: blue 1px dashed; */
    }

    main .left-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        max-width: 320px;
        width: 100%;
        /* border: 1px yellow dashed; */
    }

    .left-section h1 {
        font-size: calc(2.2rem + 0.5vw);
    } 

    .left-section h4 {
        text-align: center;
        font-size: calc(1.6rem + 0.5vw);
    }

    .left-section p {
        text-align: center;
        font-size: calc(1.4rem + 0.5vw);
    }

    .left-section input {
        width: 260px;
        max-width: 300px;
        font-size: calc(1.0rem + 0.5vw);
    }

    .left-section button {
        max-width: 160px;
        width: 120px;
        font-size: calc(1.0rem + 0.5vw);
    }

    .right-section {
        display: flex;
        justify-content: center;
        max-width: 320px;
        width: 100%;
        padding: 1px;
        /* border: 1px green dashed; */
    }

    .right-section img {
        width: 300px;
        /* height: 50px; */
        padding: 1px;
        margin: 1px;
    }

    .first-section h2 {
            font-size: calc(1.8rem + 0.5vw);
            text-align: center;
            /* border: 1px red dashed; */
        }

    .first-section p {
        font-size: calc(1.0rem + 0.5vw);
        text-align: center;
        /* border: 1px green dashed; */
    }

}

  