body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #0C1633;
    color: white;
    display: flex;
    justify-content: space-evenly;
    justify-items: baseline;
}

.logo {
    margin-left: -150px;
    margin-top: 10px;
}